// Fonts
$serif: 20px/1.4 'IBM Plex Serif', serif;
$mono: 90%/1.5 'IBM Plex Mono', monospace;

// Colors
$background: #39363F;

$headline: #ECCBBC;
$paragraph: #DEDEDE;

$primary: #AA7862;

// Links colors
$color-link: lighten($primary, 12%);
$color-link-shadow: #000;
$color-link-hover: $color-link;
$color-link-active: lighten($color-link-hover, 5%);