// Fonts
$serif: 20px/1.4 'IBM Plex Serif', serif;
$mono: 90%/1.5 'IBM Plex Mono', monospace;

// Colors
$background: #39363f;

$headline: #eccbbc;
$paragraph: #c7c7c7;

$primary: #946450;

// Links colors
$color-link: lighten($primary, 8%);
$color-link-hover: $color-link;
$color-link-active: lighten($color-link-hover, 5%);
