html, body{
  background: $background;
}

body{
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 2em 1em;
  max-width: 600px;
  min-height: calc(100vh - 4em);

  color: $paragraph;
  font: 17px/1.4 'IBM Plex Serif', serif;
  font-weight: 300;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6{
  font-size: 21px;

  font-weight: 300;
  margin: 1.5em 0 0;
  color: $headline;
}

a{
  text-decoration: none;

  &, &:visited{
    color: $color-link;
  }

  &:hover{
    color: $color-link-hover;
    text-decoration: underline;
  }

  &:active{
    color: $color-link-active;
  }
}
